<div class="container">
    <div class="card">
        <div class="card-header text-center">
           <h1>{{ pageTitle }}</h1>
        </div>
        <div class="card-body content" *ngIf="vehicles$ | async as vehicles else loading" >
            <div *ngFor="let vehicle of vehicles" class="card mb-3" style="width: 18rem;">
                <img class="card-img-top" src="/assets/img/vehicles/{{ vehicle.name }}.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{ vehicle.name }}</h5>
                  <p class="card-text">
                      <span>Cargo capacity: </span>{{ vehicle.cargo_capacity }}<br>
                      <span>Manufacturer: </span>{{ vehicle.manufacturer }}<br>
                      <span>Model: </span>{{ vehicle.model }}<br>
                  </p>
                  <a (click)="goToDetail(vehicle.url)" class="btn btn-primary">more...</a>
                </div>
            </div>
        </div>
        <ng-template #loading>
            <div class="text-center m-3">
                <div class="spinner-grow text-primary pinner-grow-xl" role="status">
                  <span class="sr-only"></span>
                </div>
            </div>
         </ng-template>
        <div class="card-footer text-muted text-center">Created By Adil Benmouny</div>
    </div>
</div>
